extends layout.pug

block content

 .content1.scrollspy#home
    .content11
        .center-align
                p.content13 hello, I'ma
                h1.content12 Rifqi Muskar
                p.content15 ᨀᨚᨈ ᨆᨀᨔᨑ
                p.content14 Ujung tennungi mulao iyyapa natabbukka idipa taddewe

                a.btn.content16 let us talk

 .content2
     .container.scrollspy#about
         .center-align
            .content28
            h1.custom2 Glorious History
            p.custom3 It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game,
         .content21
            .row
                .col.s4
                    img(src="/public/img/profile.jpg").responsive-img.content22
                .col.s8
                    .content23
                        .row
                            .col.s12
                                ul#tabs-swipe-demo.tabs
                                    li.tab.col.s3
                                        a(href='#test1') History
                                    li.tab.col.s3
                                        a.active(href='#test2') Mission
                                    li.tab.col.s3
                                        a(href='#test3') Vision
                                .content26
                                    #test1
                                        .content27
                                        h1.content25 History
                                        p.content24 Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.Small Towns and Big StatesFor evidence of the double standard, we need look no farther than Arlington.

                                    #test2
                                        .content27
                                        h1.content25 Mission
                                        p.content24 Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.Small Towns and Big StatesFor evidence of the double standard, we need look no farther than Arlington.

                                    #test3
                                        .content27
                                        h1.content25 Vision
                                        p.content24 Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.Small Towns and Big StatesFor evidence of the double standard, we need look no farther than Arlington.

 .content4
     .container.scrollspy#service
         .center-align
             .content28
             h1.custom2 My Service
             p.custom3 It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game,
         .row.content44
             .col.s6
                 img.responsive-img.floating(src="/public/img/111.png")
             .col.s6
                 h5 Create Custom Design
                 p.content46 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad doloremque eveniet illo itaque modi odio, tenetur? Adipisci asperiores at consectetur consequatur ea ex iusto magni odio, quos saepe suscipit temporibus?
                 ul
                     li
                        .content45
                        p Web Developer
                     li
                         .content45
                         p Android Developer
                     li
                        .content45
                        p Desktop Developer

         .row.content44
             .col.s6
                h5 Work in groups
                p.content46 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad doloremque eveniet illo itaque modi odio, tenetur? Adipisci asperiores at consectetur consequatur ea ex iusto magni odio, quos saepe suscipit temporibus?
                ul
                    li
                        .content45
                        p Work on time
                    li
                        .content45
                        p work discipline
                    li
                        .content45
                        p to be responsible
             .col.s6
                img.responsive-img(src="/public/img/112.png")
         .row.content44
            .col.s6
                img.responsive-img(src="/public/img/113.png")
            .col.s6
                h5 Make digital technology
                p.content46 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad doloremque eveniet illo itaque modi odio, tenetur? Adipisci asperiores at consectetur consequatur ea ex iusto magni odio, quos saepe suscipit temporibus?

                ul
                    li
                        .content45
                        p Easy to Use
                    li
                        .content45
                        p Elegant Design
                    li
                        .content45
                        p Useful

 .content3
    .container.scrollspy#project
        .center-align
            .content39
            h1.custom2.content38 Featured Project
            p.custom3.content38 It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game,

        .row.content34
            .col.s4.content33
                .z-depth-5
                    h5 Responsive Website
                    p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
            .col.s4.content33
                .z-depth-4
                    h5 Responsive Website
                    p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
            .col.s4.content33
                .z-depth-4
                    h5 Responsive Website
                    p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
            .col.s4.content33
                .z-depth-4
                    h5 Responsive Website
                    p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
            .col.s4.content33
                .z-depth-4
                    h5 Responsive Website
                    p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
            .col.s4.content33
                .z-depth-4
                    h5 Responsive Website
                    p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.

 .content6
     .container.scrollspy#education
         .center-align
             .content28
             h1.custom2 History Education
             p.custom3 It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game,
         .row.content62
             .col.s6
                 .z-depth-3
                     .content65
                     h5 Primary School
                     p  Sekolah Dasar Negeri Mangkura 2 Makassar
                     p ( 2002 - 2008 )
             .col.s6
                 .z-depth-3
                     .content65
                     h5 Junior High School
                     p  Sekolah Menengah Pertama Negeri 1 Makassar
                     p ( 2008 - 2011 )
         .row.content63
             .col.s6
                 .z-depth-3
                     .content65
                     h5 High School
                     p  Sekolah Menengah Kejuruan Telkom Makassar
                     p ( 2011 - 2014 )
             .col.s6
                 .z-depth-3
                     .content65
                     h5 bachelor
                     p  Institut Teknologi Telkom Purwokerto
                     p ( 2014 - 2018 )


 .content5
     .container.scrollspy#contact
         .center-align
            .content39
            h1.custom2.content38 Contact me
            p.custom3.content38 It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game,
         .row.content54
             .col.s6
                .content51.z-depth-4
                    .content53

                    form.content52
                        .input-field
                            input#first_name.validate(placeholder='Full name', type='text')
                            label(for='first_name') Full name
                        .input-field
                            input#first_name.validate(placeholder='Emails', type='email')
                            label(for='first_name') Emails
                        .input-field
                            textarea#textarea1.materialize-textarea
                            label(for='textarea1') Message
                        button.btn.btn-content5(type="submit") Submit
             .col.s6
                 .content56
                     h5 want to find me
                     p You can contact my contact below, we can exchange ideas about anything, about love, about the project or whatever.
                     .content55
                         i.material-icons(role='presentation') phone
                         p 0821 3765 9625 ( Phone and Whatsapp )
                     .content55
                         i.material-icons(role='presentation') email
                         p rifqymuskar@gmail.com
                     .content57
                         a(href="https://www.facebook.com/" target="_blank")
                            img.responsive-img(src="/public/img/sosial/facebook.png")
                         a(href="https://www.facebook.com/" target="_blank")
                             img.responsive-img(src="/public/img/sosial/instagram.png")
                         a(href="https://www.facebook.com/" target="_blank")
                             img.responsive-img(src="/public/img/sosial/github.png")

 .content7
     .container
         .center-align
             .content28
             h1.custom2 Samudra Biru Development
             p.custom3 building an application, it's more convenient to work with teams, it's definitely easier and more effective
         .row
             .col.s3
                 .content71
                     img.responsive-img.circle(src="/public/img/bagus.jpg")
                     .h5 Bagus Rachmad Hartanto Prabowo
                     p CEO and Game Developer
             .col.s3
                 .content71
                     img.responsive-img.circle(src="/public/img/mufti.jpg")
                     .h5 Mufti Robbani
                     p Back-end Web Developer
             .col.s3
                 .content71
                     img.responsive-img.circle(src="/public/img/uti.jpg")
                     .h5 Putri Aylin Marsha
                     p Project Manager
             .col.s3
                 .content71
                     img.responsive-img.circle(src="/public/img/arof.jpg")
                     .h5 Arof Perdana
                     p Digital Marketing
         .row
             .col.s3
                 .content71
                     img.responsive-img.circle(src="/public/img/sofwan.jpg")
                     .h5 Sofwan Aldi Rikhaldi
                     p Mobile Programmer
             .col.s3
                 .content71
                     img.responsive-img.circle(src="/public/img/faruq.jpg")
                     .h5 Faruqi Izzudin
                     p UI / UX Designer
             .col.s3
                 .content71
                     img.responsive-img.circle(src="/public/img/bintang.jpg")
                     .h5 Bintang Sabda Esa
                     p UI / UX Designer
             .col.s3
                 .content71
                     img.responsive-img.circle(src="/public/img/farhan.jpg")
                     .h5 Farhan
                     p 3D Designer
         .row
             .col.s3
                 .content71
                     img.responsive-img.circle(src="/public/img/ian.jpg")
                     .h5 Ian Aprilianto Said
                     p Game Developer
             .col.s3
                 .content71
                     img.responsive-img.circle(src="/public/img/2.jpg")
                     .h5 Andi Muh Rifqi Muskar
                     p Front-end Web Developer

 .footer
     .container.center-align
         h3 Subscribe to our updates
         form.footer2(autocomplete="off")
             .input-field
                 input#first_name.validate(placeholder='Enter your Email', type='text')
             button.btn.footer1(type="submit") Submit